html, html a, input, textarea, button {
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}

body {
    overflow-x: hidden;
    color: #454545;
}

p, ul {
    font-size: 20px;
}

ul {
  /*list-style-image: url('');*/
  list-style-type: none;
  list-style-position: inside;
}
li.list:before {
  content: "\25CA";
  color: rgba(0,10,10,.25);
  margin-right: 8px;
  margin-left: -2px;
  -moz-transform: translateY(-2pxpx);
  -webkit-transform: translateY(-2pxpx);
  -o-transform: translateY(-2pxpx);
  -ms-transform: translateY(-2pxpx);
  transform: translateY(-2pxpx);
}
li.list {
  padding: 4px 0;
}


p.small {
    font-size: 16px;
}

a {
  color: #58b7a5;
  font-weight: 600;
  outline: 0;
  box-shadow: inset 0 -2px 0 #58b7a5;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
    color: #48a795;
    box-shadow: inset 0 -2px 0 #48a795;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.subhead {
  background-color: rgba(0,10,10,.04);
  box-shadow: inset 0 0 3px rgba(0,10,10,.04);
  text-shadow: 0 0 3px rgba(0,10,10,.04);
  padding: 12px;
  border-radius: 2px;
  font-size: 26px;
  letter-spacing: -0.01em;
  margin: 48px auto 24px;
}
.subhead-first {
  margin-top: 0px;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: -.001em;
  box-shadow: none;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:active, .navbar-nav>li>a:focus, a.navbar-brand:hover, a.navbar-brand:focus, a.navbar-brand:active {
  box-shadow: none;
}

/* Colors */

.blue {
  color: #1d4572;
}

.red {
  color: rgb(214,102,78);
}

.white {
  color: rgb(255,240,250);
}

.navbar-default {
  background-color: #1b3c5e;
}
.navbar-brand {
  padding: 0 15px;
  height: 45px;
  box-shadow: none;
}
a.navbar-brand:hover {
  box-shadow: none;
}
.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: rgb(255,240,250);
    background: #1d4572;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text h1 {
  color: #285989;
  display: block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  letter-spacing: -0.01em;
  font-weight: 700;
  margin: 2em auto 0em;
}
.ls {
  letter-spacing: 0.1em;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: rgb(255,240,250);
  background-color: #1d4572;
  border-radius: 2px;
}

/* 486 x 180 */

#logo {
  width: 243px;
  height: 90px;
}

#header-logo {
  width: 121px;
  height: 45px;
  opacity: 0;
}

.quote {
  margin: 36px 0 10px;
  padding: 4px 10px 6px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-size: 24px;
  border-left: 4px solid rgb(255,240,250);
}

.sc {
  font-style: normal;
  border-left: none;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
}

.nsp {
  letter-spacing: 0;
}
@media (min-width:768px) {
  header .container {
    padding-top: 180px;
    padding-bottom: 160px;
  }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media (min-width:768px) {
    .navbar-fixed-top {
      background: transparent;
        padding: 20px 0;
        -webkit-transition: padding .3s ease-out;
        -moz-transition: padding .3s ease-out;
        transition: padding .3s ease-out;
    }
    .navbar-fixed-top #header-logo {
      width: 97px;
      height: 36px;
      margin-top: 4px;
      opacity: 0;
    }
    .navbar-fixed-top .navbar-brand {
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
        background-color: #1b3c5e;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }


    .navbar-fixed-top.navbar-shrink #header-logo {
      width: 97px;
      height: 36px;
      margin-top: 4px;
      opacity: 1;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      transition: all .3s ease-out;

    }

    .navbar-fixed-top.navbar-shrink .navbar-nav>li>a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
}

.navbar {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h2 {
  margin: 0 auto 1em;
  font-size: 3em;
  letter-spacing: -0.02em;
  color: rgb(214,102,78);
}
section#about h2 {
  color: rgb(255,240,250);
}
section#about {

    background: rgb(214,102,78);
}

section#contact {
  background: #1d4572;
}

@media (max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

section#portfolio {
  background-color: #fff;
  background-image: url("../img/img.jpg");
  background-size: cover;
  background-position: 0 20%;
  background-repeat: no-repeat;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px rgb(255,240,250);
    font-size: 20px;
    color: rgb(255,240,250);
    background: 0 0;
    transition: all .3s ease-out-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px rgb(255,240,250);
    color: #18bc9c;
    background: rgb(255,240,250);
}


.form-control {
  color: rgb(255,240,250);
  font-weight: bold;
}
.floating-label-form-group {
  position: relative;
  margin-bottom: .75em;
}
.fa-lg {
  vertical-align: 15% !important;
}
.floating-label-form-group:focus {
  background: #1b3c5e;
}
.help-block {
  margin-top: 0;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}
input#phone {
  letter-spacing: 0.02em;
}
.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .9em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
  text-transform: uppercase;
  color: rgba(255,240,250,.6);
  top: 0;
  opacity: .9;
}

.floating-label-form-group-with-focus label {
    color: #58b7a5;
}

footer {
    color: rgb(255,240,250);
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #1d4572;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #1b3c5e;
}

p.footer-text {
  color: #1d4572;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.btn-submit {
  background-color: #58b7a5;
  padding: 6px 30px;
  color: rgb(255,240,250);
  font-size: 2.4rem;
  line-height: 1.33;
  border-radius: 2px;
  font-weight: bold;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.btn-submit:hover {
  background-color: #48a795;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.alert-success {
  background-color: #58b7a5;
  padding: 16px;
  color: rgb(255,240,250);
  font-size: 2.4rem;
  line-height: 1.33;
  border-radius: 2px;
  font-weight: bold;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(255,240,250);
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #1d4572;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #1d4572;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}


ul, menu, dir {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin-before: 0em;
  margin-after: 0em;
  margin-start: 0px;
  margin-end: 0px;
  padding-start: 0px;
  -moz-margin-before: 0em;
  -moz-margin-after: 0em;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
}

.text-danger, .text-danger:hover {
  color: rgb(214,102,78);
  font-weight: bold;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #1d4572 !important;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 15px 0px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.floating-label-form-group input, .floating-label-form-group textarea {
  border-bottom: 3px solid #1b3c5e;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.floating-label-form-group input:focus, .floating-label-form-group textarea:focus {
  border-bottom: 3px solid #58b7a5;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255,.4);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,.4);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(255,255,255,.4);
}

:-ms-input-placeholder {
  color: rgba(255,255,255,.4);
}
